@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 20,24,53;
    --background-end-rgb: 0, 0, 0;
  }
}
*{
  scroll-behavior: smooth;
  scrollbar-width: hidden;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
#navbar{
  display: flex;
  height: 8vh;
  background-color: rgb(0, 0, 0) !important;
  justify-content: space-between;
  border-bottom: 5px solid black !important;
}
body{
  /* height: 92vh !important; */
}
*{
  scroll-behavior: smooth;
  scrollbar-width: hidden;
  /* height: 92vh !important; Don't*/ 

}